@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-dove-gray: #666666;
  --color-cod-gray: #171717;
  --color-gallery: #ebebeb;
}

::selection {
  background-color: #171717;
  color: white
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Geist', sans-serif;
  max-width: 100vw;
  min-height: 100%;
  background: #fafafa;
}

